<h1>Home</h1>

<%= link_to "Trade Portfolio", trades_path, :class => 'button'  %>

<%= link_to "Price Curve Main", price_curves_path, :class => 'button'  %>


<%= link_to "Ice WTI Price Curve", price_curve_wtis_path, :class => 'button'  %>

<%= link_to "Ice Brent Price Curve", price_curve_brents_path, :class => 'button'  %>

<%= link_to "Nymex Price Curve", price_curve_nymexes_path, :class => 'button'  %>
