<h1>Ice Brent Price Curve</h1>

<table>
  <thead>
    <tr>
      <th>Month year</th>
      <th>Settle price</th>
      <!-- <th></th>
      <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @price_curve_brents.each do |price_curve_brent| %>
      <tr>
        <td><%= price_curve_brent.month_year %></td>
        <td><%= price_curve_brent.settle_price %></td>
        <!-- <td><%= link_to 'Show', price_curve_brent %></td>
        <td><%= link_to 'Edit', edit_price_curve_brent_path(price_curve_brent) %></td>
        <td><%= link_to 'Destroy', price_curve_brent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price curve brent', new_price_curve_brent_path %>
