<p id="notice"><%= notice %></p>

<p>
  <strong>Month year:</strong>
  <%= @price_curve_nymex.month_year %>
</p>

<p>
  <strong>Settle price:</strong>
  <%= @price_curve_nymex.settle_price %>
</p>

<%= link_to 'Edit', edit_price_curve_nymex_path(@price_curve_nymex) %> |
<%= link_to 'Back', price_curve_nymexes_path %>
